Template: @@NAME@@/add-pointer-repo
Type: boolean
Default: true
Description: Add Pointer apt repository for updates?
 The installer would like to add the Pointer repository and signing
 key to update Pointer through apt.
